/*-- scss:defaults --*/

// Colors
$light-blue: #43a2ca;
$green: ##a8ddb5;
$cream: #FDFBF7;
$light-yellow: #fee391;
$mustard-yellow: #fec44f;
$dark-brown: #993404;

// Base document colors
$navbar-bg: $light-blue; // navbar
$navbar-fg: $cream; // navbar foreground elements
$navbar-hl: $green; // highlight color when hovering over navbar links
$body-bg: $cream; // page background 
$body-color: $dark-brown; // page text 
$footer-bg: $cream; // footer 

// Inline code
$code-bg: $cream; // inline code background color
$code-color: $mustard-yellow; // inline code text color